<script type="text/x-tmpl" id="bin-item-row-template">
  <tr class="bin-item-row">
    <td>
      <div class="form-group select-item">
        {%# tmpl("item-selector-template", { name: "bin_items[item_id][]", guard: "binitemdupes" }) %}
      </div>
    </td>

    <td>
      <button class="pull-right btn btn-danger btn-xs table-editable-delete">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</script>
