<script type="text/x-tmpl" id="existing-bin-location-template">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Rack:</label>
      <div>{%= o.rack %}</div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label>Shelf:</label>
      <div>{%= o.shelf %}</div>
    </div>
  </div>
</script>
