<% content_for :title, render("items/tabs") %>

<% content_for :content do %>
  <% if current_user.can_view_and_edit_items? %>
    <h4 class="button-height">
      <%= link_to "Create Bin", new_bin_path, class: "btn btn-primary bottom15 pull-right" %>
    </h4>
  <% end %>

  <table class="table table-hover table-striped data-table">
    <thead>
      <tr>
        <th class="col-xs-8">Title</th>
        <th class="col-xs-4">Date</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
<% end %>
