<% if purchase.new_purchase? %>
  <button type="submit" name="purchase[status]" value="place_purchase" class="btn btn-primary" title="Change status from new to placed">
    Purchase Placed
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif purchase.purchased? %>
  <button type="submit" name="purchase[status]" value="ship_purchase"  class="btn btn-primary" title="Change status from placed to shipped">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Purchase Shipped
  </button>
<% elsif purchase.shipped? %>
  <button type="submit" name="purchase[status]" value="receive_purchase"  class="btn btn-primary" title="Change status from shipped to received">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Purchase Received
  </button>
<% elsif purchase.received? %>
  <%= close_purchase_button(purchase) %>
<% end %>
