<%= render "common/default_email_template_header" %>

<p>
  <%= @user.name %>,
</p>

<p>
  Your password has changed at <%= ActionMailer::Base.default_url_options[:host] %>.
</p>

<p>
  If you did not initiate this change, please contact us to help you
  correct it, otherwise disregard this email.
</p>

<%= render "common/default_email_template_footer" %>
