<script type="text/x-tmpl" id="survey-field-template">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="survey-field-type-{%= o.id %}">Field Type</label>

        <select class="form-control" id="survey-field-type-{%= o.id %}" name="fields[field-{%= o.id %}][type]" data-guard="required">
          <option value="">Please Select</option>
          {% for (var i = 0; i < o.fields.length; i++) { %}
            <option value="{%= o.fields[i].type %}">{%= o.fields[i].type_label %}</option>
          {% } %}
        </select>
      </div>

      <div class="form-group">
        <label class="control-label" for="survey-field-label-{%= o.id %}">Label</label>
        <input type="text" class="form-control" id="survey-field-label-{%= o.id %}" name="fields[field-{%= o.id %}][label]" placeholder="Label for the field" data-guard="required" />
      </div>
    </div>
  </div>

  <hr />
</script>
