<p>
  <font size="5"><%= @recipient.name %>,</font>
</p>

<p>
  <font size="5">The organization address for <%= @organization.name %> has changed. The new address is:</font>
</p>

<p>
  <font size="5"><%= @organization.address %></font>
</p>
