<div class="row">
  <div class="offset-xs-1 col-xs-11">
    <table class="table purchase-shipments-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tracking</th>
          <th>Quantity</th>
          <th>Received</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%# to be filled in automatically %>
      </tbody>
    </table>
  </div>
</div>
