<div class="row">
  <div class="col-xs-12">
    <table id="purchase-table" class="table table-hover table-manual-striped" data-table-editable-row-template-id="purchase-row-template">
      <thead>
        <tr>
          <th class="purchase-category-column">Category</th>
          <th class="purchase-item-column">Item</th>
          <th class="purchase-quantity-column">Quantity</th>
          <th class="purchase-unit-cost-column">Unit Cost</th>
          <th class="purchase-line-cost-column">Line Cost</th>
          <th class="purchase-variance-column">Variance</th>
          <th class="purchase-action-buttons-column"></th>
        </tr>
      </thead>

      <tbody>
        <%# Dynamically generated %>
        <% @purchase.purchase_details.each do |pd| %>
          <%= render partial: "purchases/purchase_row", locals: { f: f, pd: pd } %>
        <% end %>
      </tbody>

      <%= render partial: "purchases/purchase_table_footer", locals: { f: f } %>
    </table>
  </div>
</div>
