<script type="text/x-tmpl" id="purchases-new-purchase-template">
  <tr class="purchase-row {%= ((data.num_rows+1) % 2 ? 'odd-row' : '') %}" data-purchase-id="{%= o.id %}">
    <input type="hidden" name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][id]" class="purchase_detail_id" />
    <td>
      <div class="form-group">
        <select class="category form-control" data-guard="required">
          <option value="">Select a category...</option>
          {% for (var i = 0; i < data.categories.length; i++) { %}
            <option value="{%= data.categories[i].id %}">{%= data.categories[i].description %}</option>
          {% } %}
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <select name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][item_id]" class="item form-control" data-guard="different required" data-guard-different-message="All items must be different.">
          <option value="">Select an item...</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="number" name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][quantity]" class="quantity form-control" placeholder="Enter a quantity" data-guard="required" />
      </div>
    </td>
    <td class="text-muted">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" min="0.01" max="99999" step="0.01" name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][cost]" class="cost form-control" placeholder="0.00" data-guard="required" />
      </div>
    </td>
    <td class="text-muted">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" min="0.01" max="99999" step="0.01" name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][line_cost]" class="line-cost form-control" placeholder="0.00" data-guard="required" />
      </div>
    </td>
    <td class="text-muted">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input disabled type="text" name="purchase[purchase_details_attributes][{%= o.rowGroupId %}][price_point_variance]" class="variance form-control" placeholder="0.00" />
      </div>
    </td>
    <td class="two-button-group text-right">
      <div class="btn-group ">
      <button type="button" class="btn btn-default show-shipment-table" title="Show/Hide shipments">
        <span class="glyphicon glyphicon-transfer"><!-- transfer icon until we can come up with something better --></span>
      </button>
      <button type="button" class="btn btn-danger delete-purchase-row" title="Delete purchase" id="delete-purchase-button-{%= o.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      </div>
    </td>
  </tr>
  <tr class="purchase-shipment-table-row {%= ((data.num_rows+1) % 2 ? 'odd-row' : '') %} hidden" data-shipments-for="{%= o.id %}" data-row-group-id="{%= o.rowGroupId %}">
    <td  colspan="7"></td>
  </tr>
</script>

<script type="text/x-tmpl" id="delete-purchase-detail-row-template">
  <%# this will replace the current row when it is deleted %>
  <tr class="deleted-purchase-row hidden" id="deleted-purchase-row-{%= o.rowValue %}">
    <input type="hidden" name="{%= o.rowName %}" class="purchase_detail_id" value="{%= o.rowValue %}"/>
    <input type="hidden" name="{%= o.destroyName %}" value="1" />
  </tr>
</script>

<script type="text/x-tmpl" id="purchases-item-options-template">
  <option value="">Select an item...</option>

  {% for (var i = 0; i < o.items.length; i++) { %}
    {% var item = o.items[i]; %}
    <option value="{%= item.id %}" data-item-value="{%= item.value %}">{%= item.description %}</option>
  {% } %}
</script>
