<script type="text/x-tmpl" id="purchases-purchase-shipment-row-template">
<tr class="purchase-shipment-row" data-for-purchase-detail="{%= o.purchaseDetailId %}">
  <input
    type="hidden"
    name="purchase[purchase_details_attributes][{%= data.num_rows %}][purchase_shipments_attributes][{%= o.index %}][id]"
    value="{%= o.id %}"
    class="purchase_detail_id"
    />
  <td>
    <div class="form-group">
      <input
        type="number"
        class="quantity-received form-control"
        value="{%= o.quantity_received %}"
        name="purchase[purchase_details_attributes][{%= data.num_rows %}][purchase_shipments_attributes][{%= o.index %}][quantity_received]"
        placeholder="Enter quantity received"
        data-guard="required"
        />
    </div>
  </td>
  <td>
    <div class="form-group">
      <input
        type="text"
        class="received-at form-control"
        value="{%= o.received_date || '<%= Date.today.strftime("%Y-%m-%d") %>' %}"
        name="purchase[purchase_details_attributes][{%= data.num_rows %}][purchase_shipments_attributes][{%= o.index %}][received_date]"
        placeholder="Enter date received"
        data-guard="required" data-provide="datepicker" data-date-format="yyyy-mm-dd"
        />
    </div>
  </td>
  <td class="row-action-buttons">
    <div class="btn btn-default shipment-persisted-icon hidden" title="Shipment saved">
      <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="btn btn-default shipment-new-icon hidden" title="Shipment not saved yet">
      <span class="glyphicon glyphicon-alert"></span>
    </div>
    <button class="btn btn-danger delete-this-shipment-button hidden" title="Delete this shipment record" disabled>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </td>
</tr>
</script>

<script type="text/x-tmpl" id="purchases-deleted-purchase-shipment-row-template">
  <input
    type="hidden"
    name="purchase[purchase_details_attributes][{%= o.purchaseDetailId %}][purchase_shipments_attributes][{%= o.index %}][id]"
    value="{%= o.id %}"
  />
  <input
    type="hidden"
    name="purchase[purchase_details_attributes][{%= o.purchaseDetailId %}][purchase_shipments_attributes][{%= o.index %}][_delete]"
    value="1"
  />
</script>

<script type="text/x-tmpl" id="purchases-purchase-shipment-table-template">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-6">
      <table class="table purchase-shipments-table" data-shipment-table-for="{%= o.purchaseDetailId %}">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Received</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-left">
              Quantity remaining: <span class="displayed-quantity-remaining" data-purchase-id="{%= o.purchaseDetailId %}">{%= o.quantityRemaining %}</span>
            </td>
            <td colspan="2" class="text-right">
              <button
                class="btn btn-default btn-sm purchases-purchase-detail-add-shipment-button"
                type="button" title="Add another shipment for this purchase item"
                data-for-purchase-detail-id="{%= o.purchaseDetailId %}"
              >
                <span class="glyphicon glyphicon-plus"></span>
                Add shipment
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</script>
