<div class="row" style="margin-top: 2rem;">
  <div class="col-xs-12">
    <div class="form-group">
      <%= render partial: "purchases/status_buttons", locals: { purchase: purchase } %>

      <!-- NOTE: superuser should be able to edit anytime up to completed / canceled without changing state -->
      <% if purchase.open_purchase? %>
        <button type="submit" class="btn btn-primary">Save</button>
      <% end %>

      <%= link_to "Cancel Edit", purchases_path, type: "button", class: "btn btn-default" %>

      <% if show_cancel_button?(purchase, current_user) %>
        <%= button_tag(
            name: "purchase[status]",
            value: "canceled",
            type: :submit,
            class: "btn btn-danger pull-right",
            data: confirm(
                message: I18n.t('purchases.confirm_cancel_dialog'),
                title: "Canceling Purchase"
            )
            ) do %>
          Cancel Purchase
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
