<% if purchase.new_purchase? %>
  <button type="submit" name="purchase[status]" value="purchased" class="btn btn-primary">
    Purchase Placed
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif purchase.purchase_placed? %>
  <button type="submit" name="purchase[status]" value="shipped"  class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Shipped
  </button>
<% elsif purchase.shipped? %>
  <button type="submit" name="purchase[status]" value="received"  class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Purchase Received
  </button>
<% elsif purchase.received? %>
  <button type="submit" name="purchase[status]" value="closed" class="btn btn-primary">
    Close Purchase
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% end %>
