<div class="modal fade" id="order_details_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Order <span id="order_id">140186</span></h4>
      </div>
      <div class="modal-body">
        <%= render partial: "order_header", locals: {order: nil} %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Items</th>
              <th>Quantity Requested</th>
            </tr>
          </thead>
          <tbody id="order-details">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a id="edit_order_button" href="#" type="button" class="btn btn-default">Edit</a>
          <button id="order_approve" type="button" class="btn btn-primary">Approve</button>
        </div>
        <div>
          <button type="button" class="btn btn-danger">Deny</button>
        </div>
      </div>
    </div>
  </div>
</div>
