<div class="row">
  <div class="col-xs-12">
    <table id="order-table" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Item</th>
          <th>Quantity Requested</th>
          <% if controller.action_name == "edit" %>
            <th>Quantity To Be Filled</th>
          <% end %>
          <th>Available</th>
          <th></th>
        </tr>
      </thead>


      <tbody>
        <%# Dynamically generated %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <button id="add-item-row" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
      </button>
    </div>
  </div>
</div>
