<tr class="order">
  <td>
    <select id="category" class="form-control">
      <option value="">Select a category...</option>
    </select>
  </td>
  <td>
    <select id="item" class="form-control">
      <option value="">Select an item...</option>
    </select>
  </td>
  <td>
    <select id="quantity" class="form-control">
      <option value="">0</option>
    </select>
  </td>
</tr>
