<div class="row bottom20">
  <div class="col-xs-4">
    <%= render partial: "orders/order_info", locals: { order: order } %>
  </div>
  <div class="col-xs-4">
    <%= render partial: "orders/organization_info", locals: { order: order } %>
  </div>
  <div class="col-xs-4">
    <%= render partial: "orders/user_info", locals: { order: order } %>
  </div>
  <div class="col-xs-12">
    <%= render partial: "orders/tracking_detail_info", locals: { order: order } %>
  </div>
</div>
