<p>
  <strong>County:</strong>
  <span id="county"><%= order.try(:organization).try :county %></span>
</p>

<p>
  <strong>Organization:</strong>
  <span id="organization_name"><%= order.try(:organization).try :name %></span>
</p>

<p>
  <strong>Status:</strong>
  <span id="status"><%= order.try(:status) { |s| s.titleize } %></span>
</p>
