<h4 id="organization_name"><%= order.try :facility %></h4>
<div class="row">
  <div class="col-xs-6">
    <label>Recieved:</label>
    <span id="date_received"><%= order.try :order_date %></span>
  </div>
  <div class="col-xs-6 text-right">
    <label>Status:</label>
    <span id="status"><%= order.try :status %></span>
  </div>
</div>
