<p>
  <strong>Organization:</strong>
  <span id="organization_name"><%= order.try(:organization).try :name %></span>
</p>
<p>
  <strong>Received:</strong>
  <span id="date_received"><%= order.try :order_date %></span>
</p>
<p>
  <strong>Status:</strong>
  <span id="status"><%= order.try :status %></span>
</p>
