<table class="table table-hover table-striped">
  <thead>
    <tr>
      <% if local_assigns[:include_sku] %>
        <th>Sku</th>
      <% end %>
      <th>Item</th>
      <th>Quantity Requested</th>
    </tr>
  </thead>

  <tbody>
    <% order.order_details.each do |details| %>
        <tr>
          <% if local_assigns[:include_sku] %>
            <td><%= details.item.sku %></td>
          <% end %>
          <td><%= details.item.description %></td>
          <td><%= details.quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>
