<table class="table">
  <tbody>
    <tr>
      <td><strong>Organization:</strong></td>
      <td id="organization_name"><%= order.try :facility %></td>
    </tr>
    <tr>
      <td><strong>Received:</strong></td>
      <td id="date_received"><%= order.try :order_date %></td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td id="status"><%= order.try :status %></td>
    </tr>
  </tbody>
</table>
