<table class="table table-hover table-striped">
  <thead>
    <tr>
      <% if local_assigns[:include_sku] %>
        <th>Sku</th>
      <% end %>
      <th>Item</th>
      <% if current_user.admin? %>
        <th>Location</th>
      <% end %>
      <th class="centered-column">Quantity Requested</th>
    </tr>
  </thead>

  <tbody>
    <% order.order_details.each do |detail| %>
        <tr>
          <% if local_assigns[:include_sku] %>
            <td><%= detail.item.sku %></td>
          <% end %>
          <td><%= detail.item.description %></td>
          <% if current_user.admin? %>
            <td><%= render partial: 'orders/item_locations_table', locals: { order_detail: detail } %></td>
          <% end %>
          <td class="centered-column"><%= detail.quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>
