<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= render partial: "status_buttons", locals: { order: order } %>

      <% if order.pending? || order.approved? || order.shipped? %>
        <button class="btn btn-primary">Save</button>
      <% end %>

      <%= link_to "Cancel", orders_path, type: "button", class: "btn btn-default" %>

      <button type="submit" name="order[status]" value="cancel" class="btn btn-danger pull-right"
        data="<%= confirm(title: "Cancel this order?") %>">
        <i class="glyphicon glyphicon-remove"></i>
        Cancel Order
      </button>
    </div>
  </div>
</div>
