<div class="row">
  <div class="col-xs-4">
    <%= render partial: "orders/organization_info", locals: { order: order } %>
  </div>
  <div class="col-xs-4">
    <%= render partial: "orders/user_info", locals: { order: order } %>
  </div>
  <div class="col-xs-4">
    <%= render partial: "orders/order_info", locals: { order: order } %>
    <%= render partial: "orders/shipment_info", locals: { order: order } %>
  </div>
</div>
