<p>
  <strong>Order Date:</strong><br/>
  <span id="date_received"><%= order.order_date.strftime("%B %d, %Y at %I:%M%p") %></span>
</p>
<p>
  <strong>Status:</strong><br/>
  <span id="status"><%= order.status.titleize %></span>
</p>
