<script type="text/x-tmpl" id="order-dropship-button-inactive-template">
  <label id="dropship" class="btn btn-info">
    <input type="checkbox" autocomplete="off">
    <span class="glyphicon glyphicon-remove"></span> Dropship
  </label>
</script>

<script type="text/x-tmpl" id="order-dropship-button-active-template">
  <label id="dropship" class="btn btn-info active">
    <input type="checkbox" autocomplete="off" checked>
    <span class="glyphicon glyphicon-ok"></span> Dropship
  </label>
</script>
