<p>
  <strong>Order Date:</strong><br/>
  <span id="date_received"><%= local_time order.order_date %></span>
</p>
<p>
  <strong>Ship to name:</strong><br/>
  <span id="status"><%= order.ship_to_name %></span>
</p>
<p>
  <strong>Ship to address:</strong><br/>
  <span id="status"><%= order.ship_to_address %></span>
</p>
<p>
  <strong>Order Value:</strong><br/>
  <span id="status">$<%= order.order_value %></span>
</p>
