<p>
  <strong>County:</strong><br/>
  <span id="county"><%= order.organization.county %></span>
</p>
<p>
  <strong>Organization:</strong><br/>
  <span id="county"><%= link_to "#{order.organization.name}", edit_organization_path(order.organization, redirect_to: "order", redirect_id: order.id) %></span>
</p>
