<p>
  <strong>County:</strong>
  <span id="county"><%= order.organization.county %></span>
</p>
<p>
  <strong>Organization:</strong>
  <span id="organization_name"><%= order.organization.name %></span>
</p>
<p>
  <strong>Mailing Address:</strong>
  <span id="address"><%= order.organization.address %></span>
</p>
