<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity Requested</th>
    </tr>
  </thead>

  <tbody>
    <% order.order_details.each do |details| %>
        <tr>
          <td>
            <%= details.item.description %>
          </td>
          <td>
            <%= details.quantity %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
