<% if order.select_items? %>
  <button type="submit" name="ordser[status]" value="confirm_items" class="btn btn-primary">
    Request Items
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.select_ship_to? %>
  <button type="submit" name="order[status]" value="edit_items"  class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Edit Items
  </button>
  <button type="submit" name="order[status]" value="confirm_ship_to" class="btn btn-primary">
    Confirm Address
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.confirm_order? %>
  <button type="submit" name="order[status]" value="edit_items"  class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Edit Items
  </button>
  <button type="submit" name="order[status]" value="edit_ship_to"  class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Edit Address
  </button>
  <button type="submit" name="order[status]" value="submit_order" class="btn btn-primary">
    Submit Order
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.pending? %>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reject-modal">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Reject
  </button>
  <%= render partial: "reject_modal" %>
  <button type="submit" name="order[status]" value="approve" class="btn btn-primary">
    Approve
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.approved? %>
  <button type="submit" name="order[status]" value="hold" class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Back to Pending
  </button>
  <button type="button" id="print-order" class="btn btn-default">
    <i class="glyphicon glyphicon-print"></i>
    Print
  </button>
  <button type="submit" name="order[status]" value="allocate" class="btn btn-primary">
    Fill Order
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.rejected? %>
  <button type="submit" name="order[status]" value="hold" class="btn btn-info">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Back to Pending
  </button>
<% elsif order.filled? %>
  <button type="submit" name="order[status]" value="ship" class="btn btn-primary">
    Ship
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.shipped? %>
  <button type="submit" name="order[status]" value="receive" class="btn btn-primary">
    Received
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% elsif order.received? %>
  <button type="submit" name="order[status]" value="close" class="btn btn-primary">
    Close Order
    <i class="glyphicon glyphicon-chevron-right"></i>
  </button>
<% end %>
