<p>
  <strong>Name:</strong>
  <span id="user_name"><%= order.user.name %></span>
</p>
<p>
  <strong>Email:</strong>
  <span id="email"><%= order.user.email %></span>
</p>
<p>
  <strong>Primary Phone:</strong>
  <span id="primary_number"><%= order.user.primary_number %></span>
</p>
<p>
  <strong>Secondary Phone:</strong>
  <span id="secondary_number"><%= order.user.secondary_number %></span>
</p>
