<p>
  <strong>Name:</strong><br/>
  <span id="user_name"><%= link_to "#{order.user.name}", edit_user_path(order.user, redirect_to: "order", redirect_id: order.id) %></span>
</p>
<p>
  <strong>Email:</strong><br/>
  <span id="email"><%= mail_to "#{order.user.email}" %></span>
</p>
<p>
  <strong><%= t :user_primary_number %>:</strong><br/>
  <span id="primary_number"><%= order.user.primary_number %></span>
</p>
