<% content_for :title, "Canceled Orders" %>

<% content_for :content do %>
  <%= render partial: "orders/tabs" %>

  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "orders/index_table" %>
    </div>
  </div>
<% end %>
