<h2>Garment Orders</h2>

<%= render "common/tabs", active: 'orders' %>

<style type="text/css">
.order {
  cursor: pointer;
}
</style>

<script type="text/javascript">
function populateOrderDetailsModal(orderId) {
  var orderInfo = ORDERS[orderId];

  $("#order_id").text(orderInfo['order_id']);
  $("#date_received").text(orderInfo['date_received']);

  $("#organization_name").text(orderInfo['organization_name']);
  $("#status").text(orderInfo['status']);

  $("#edit_order_button").attr("href", "/orders/" + orderInfo['order_id'] + "/edit")

  var orderDetails = orderInfo['order_details'];
  var html = [];
  $.each(orderDetails, function(key, val) {
    html.push("<tr><td>" + key + "</td><td>" + val + "</td></tr>");
  });
  $("#order-details").html(html.join(""));

  $("#order_details_modal").modal();
}

$(function() {
  $(".order").on("click", function() {
    populateOrderDetailsModal($(this).data("order-id"));
  });
});
</script>

<div class="well">
  <div style="float:right;">
    <select class="form-control">
      <option value="">Show all statuses</option>
      <% Order::VALID_STATUSES.sort.each do |status| %>
        <option value="<%= status %>"><%= status %></option>
      <% end %>
    </select>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" />
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Date Received</th>
        <th>Organization Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order" data-order-id="140186">
        <td>140186</td>
        <td>1/20/2016</td>
        <td>Stanford Hospital</td>
        <td>Pending</td>
      </tr>
      <tr class="order" data-order-id="140185">
        <td>140185</td>
        <td>1/20/2016</td>
        <td>Kaiser Permanente Mountain View</td>
        <td>Pending</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
var ORDERS = {
  "140186": {
    order_id: 140186,
    date_received: "1/20/2016",
    organization_name: "Stanford Hospital",
    status: "Pending",
    order_details: {
      "Blankets": 20,
      "Hats": 15,
      "T-Shirts": 10
    }
  },
  "140185": {
    order_id: 140185,
    date_received: "1/20/2016",
    organization_name: "Kaiser Permanente Mountain View",
    status: "Pending",
    order_details: {
      "Blankets": 2,
      "Hats": 2,
      "T-Shirts": 2
    }
  }
};
</script>


<!-- Order Details Modal -->
<div class="modal fade" id="order_details_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Order <span id="order_id">140186</span></h4>
      </div>
      <div class="modal-body">
        <%= render partial: "order_header", locals: {order: nil} %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Items</th>
              <th>Quantity Requested</th>
            </tr>
          </thead>
          <tbody id="order-details">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a id="edit_order_button" href="#" type="button" class="btn btn-default">Edit</a>
        <button type="button" class="btn btn-primary">Approve</button>
        <button type="button" class="btn btn-danger">Deny</button>
      </div>
    </div>
  </div>
</div>
