<script type="text/javascript">
  var data = data || {};
  data.categories = <%= Category.to_json %>;
  $(".show-here").text(window.data.categories);
</script>

<h4>New Order</h4>

<div class="col-md-10">
  <div class="well">
    <table id="new-order-table" class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Quantity</th>
          </tr>
        </thead>

        <tbody>
          <%# will be populated dynamically from orders.coffee %>
        </tbody>
      </table>
      <div>
        <button id="add-item-row" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
        </button>
      </div>
    </div>
  </div>
</div>
