<% content_for :title, "Rejected Orders" %>

<% content_for :content do %>
  <%= render partial: "orders/tabs" %>

  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "orders/table", locals: { orders: @orders } %>
    </div>
  </div>
<% end %>
