<div class="row">
  <div class="col-xs-6">
    <ul class="nav nav-pills">
      <%= tab("Overview", survey_request_path(@survey_request), params[:action] == "show") %>
    </ul>
  </div>
</div>

<br />
