<table id="donation-table" class="table table-hover table-striped table-editable"
       data-table-editable-row-template-id="donation-row-template" data-table-editable-allow-no-rows>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# Dynamically generated %>
  </tbody>
</table>
