<script type="text/x-tmpl" id="existing-donor-template">
  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <label>Name:</label>
      <div>{%= o.name %}</div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <label>Cell Phone:</label>
      <div>{%= o.primaryPhone %}</div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-6">
    <div class="form-group">
      <label>External Id:</label>
      <div>{%= o.externalId %}</div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <label>Email Address:</label>
      <div>{%= o.email %}</div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <label>Other Phone:</label>
      <div>{%= o.secondaryPhone %}</div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <label>External Type:</label>
      <div>{%= o.externalType %}</div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <label>Address:</label>
      <div>{%= o.address %}</div>
    </div>
  </div>
</script>
