<script type="text/x-tmpl" id="new-donor-template">
  <div class="col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="alert alert-info">
          <strong>Important note:</strong>
          This donor will be automatically exported to NetSuite. To import an existing donor, please
          <%= link_to "import them first from the create donor page", new_donor_path(show_tab: "netsuite-import") %>.
        </div>
      </div>
    </div>

    <div class="row">
      <%= fields_for :donor, Donor.new do |f| %>
        <%= render partial: "donors/donor_fields", locals: { donor: f.object, fields: f, auto_export: true } %>
      <% end %>
    </div>
  </div>
</script>
