<script type="text/x-tmpl" id="new-donor-template">
  <div class="col-xs-12 col-sm-9">
    <div class="form-group">
      <label for="donor-name">Name:</label>
      <input type="text" id="donor-name" name="donor[name]" class="form-control" placeholder="Donor name" data-guard="required donorNameUnique" />
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <label for="donor-external-id">External Id:</label>
      <input type="number" id="donor-external-id" name="donor[external_id]" class="form-control" placeholder="1234" data-guard="required donorExternalIdUnique" />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label for="donor-email">Email Address:</label>
      <input type="text" id="donor-email" name="donor[email]" class="form-control" placeholder="Donor email address" data-guard="email donorEmailUnique" />
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <label for="donor-phone-number">Phone Number:</label>
      <input type="text" id="donor-phone-number" name="donor[phone_number]" class="form-control" placeholder="(408) 555-1234" data-guard="phoneUS" />
    </div>
  </div>

  <div class="col-xs-9">
    <div class="form-group">
      <label for="donor-address">Address:</label>
      <input type="text" id="donor-address" name="donor[addresses_attributes][0][address]" class="form-control" placeholder="Donor address" />
    </div>
  </div>
</script>
