<div class="row">
  <div class="col-xs-6">
    <ul class="nav nav-pills">
      <%= tab("Donations", donations_path, params[:controller] == "donations" && params[:action] != "deleted") %>

      <% if current_user.can_delete_and_restore_donations? %>
        <%= tab("Deleted Donations", deleted_donations_path, params[:controller] == "donations" && params[:action] == "deleted") %>
      <% end %>
    </ul>
  </div>

  <% if current_user.can_create_donations? %>
    <div class="col-xs-6">
      <div class="pull-right">
        <%= link_to "New Donation", new_donation_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<br />
