<% content_for :title, "Donations" %>

<% content_for :content do %>
  <% if current_user.can_create_donations? && DonationMigrator.any? %>
    <div class="row bottom20">
      <div class="col-xs-12">
        <span class="pull-right">
          <%= link_to "Migrate Donations", migrate_donations_path, class: "btn btn-primary" %>
        </span>
      </div>
    </div>
  <% end %>

  <%= render partial: "donations/tabs" %>

  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "donations/table" %>
    </div>
  </div>
<% end %>
