default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= ENV["STOCKAID_DATABASE_USERNAME"] %>
  password: <%= ENV["STOCKAID_DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: stockaid_development

test:
  <<: *default
  database: stockaid_test

production:
  <<: *default
  database: stockaid_production

review:
  <<: *default
  database: stockaid_review

staging:
  <<: *default
  database: stockaid_staging
