<script type="text/x-tmpl" id="survey-edit-group-template">
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <label class="control-label" for="survey-field-min-{%= o.field.id %}">Minimum</label>
        <input type="text" class="form-control" id="survey-field-min-{%= o.field.id %}" name="{%= o.field.getFieldScope() %}[min]" value="{%= o.field.getDataValue("min") %}" placeholder="Minimum number of answers (blank for no minimum)" data-guard="int" autocomplete="off" />
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <label class="control-label" for="survey-field-max-{%= o.field.id %}">Maximum</label>
        <input type="text" class="form-control" id="survey-field-max-{%= o.field.id %}" name="{%= o.field.getFieldScope() %}[max]" value="{%= o.field.getDataValue("max") %}" placeholder="Maximum number of answers (blank for no maximum)" data-guard="int" autocomplete="off" />
      </div>
    </div>
  </div>

  <div class="well">
    <h4>Grouped Fields</h4>

    <div class="survey-grouped-fields-container">
    </div>

    <p>
      <button type="button" class="add-grouped-survey-field btn btn-primary">Add Field</button>
    </p>
  </div>
</script>
