<p>
  <%= @order.user.name %>,
</p>

<p>
  You order, #<%= @order.id %>, has been declined for the following reason:
</p>

<p>
  <%= @reason %>
</p>

<p>
  Please complete the required actions and resubmit your order.
</p>
