<script type="text/x-tmpl" id="item-selector-template">
  {% window.itemSelectorTemplateId = (window.itemSelectorTemplateId || 0) + 1; %}
  {% var errorTargetId = "item-selector-error-target-" + window.itemSelectorTemplateId; %}
  {% var selectorGuards = ["required"]; %}
  {% if (o.guard) { selectorGuards.push(o.guard); } %}
  <select name="{%= o.name %}" class="item-selector" data-guard="{%= selectorGuards.join(" ") %}"
          {% if (o.guard) { %} data-guard-{%= o.guard %}-target="#{%= errorTargetId %}" {% } %}
          data-guard-required-target="#{%= errorTargetId %}">
    <option value="">Select an item...</option>

    {% $.eachCategory(function(category) { %}
      <optgroup label="{%= category.description %}">
        {% $.eachInventoryItem(category, function(item) { %}
          <option value="{%= item.id %}">{%= item.description %}</option>
        {% }); %}
      </optgroup>
    {% }); %}
  </select>

  <div id="{%= errorTargetId %}"></div>
</script>
