<script type="text/x-tmpl" id="dropship-order-row-template">
  <tr class="dropship-order-row">
    <td>
      <div class="form-group select-item">
        {%# tmpl("item-selector-template", { name: "dropship_order[dropship_order_details][item_id][]" }) %}
      </div>
    </td>

    <td>
      <div class="form-group">
        <input type="number" name="dropship_order[dropship_order_details][quantity][]" class="quantity form-control" placeholder="Amount ordered" data-guard="required int" data-guard-int-min="1" />
      </div>
    </td>

    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon1">$</span>
          <input type="number" name="dropship_order[dropship_order_details][cost][]" class="quantity form-control" placeholder="0.00" data-guard="required float" data-guard-float-min="0" />
        </div>
      </div>
    </td>

    <td>
      <button type="button" class="pull-right btn btn-danger btn-xs table-editable-delete">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</script>
