/* This is a temporary placeholder for CSS
before it is moved to the gratefulgarment-ui gem */

.navbar-stockaid-development {
    background-color: #17a2b8;
    border-color: #11798a;

    .navbar-brand, .navbar-text, .navbar-nav > li > a {
        color: rgba(255, 255, 255, .5);
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        background-color: #11798a;
        color: #ffffff;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: #ffffff;
    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        background-color: #11798a;
        color: #ffffff;
    }
}

.navbar-stockaid-review {
    background-color: #175891;
    border-color: #0c3961;

    .navbar-brand, .navbar-text, .navbar-nav > li > a {
        color: rgba(255, 255, 255, .5);
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        background-color: #0c3961;
        color: #ffffff;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: #ffffff;
    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        background-color: #0c3961;
        color: #ffffff;
    }
}

.navbar-stockaid-staging {
    background-color: #dc3545;
    border-color: #b31f2d;

    .navbar-brand, .navbar-text, .navbar-nav > li > a {
        color: rgba(255, 255, 255, .5);
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        background-color: #b31f2d;
        color: #ffffff;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: #ffffff;
    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        background-color: #b31f2d;
        color: #ffffff;
    }
}

hr.dashed {
    border-top: dashed 2px;
}

.order-detail.different-quantity .quantity, .font-bold {
  font-weight: bold;
}

.avoid-page-break {
  page-break-before: always;
}

.return-label {
    margin-top: 130px;

    hr.dashed {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .from-address {
        padding-left: 15px;
    }

    .to-address {
        padding-left: 26px;
    }
}

.table-bordered.table-bordered-darker {
    & > thead, & > tbody, & > tfoot {
        & > tr > th, & > tr > td {
            border-color: #333;
        }
    }
}

.text-bold {
    font-weight: bold;
}

.minimal-width {
    width: 1%;
}

@media print {
    .table-bordered.table-bordered-darker {
        & th, & td {
            border-color: #333 !important;
        }
    }
}

body.print-prep {
    @media print {
        #print-options {
            display: none;
        }
    }

    .blank-sheet {
        overflow: hidden;
        height: 100vh;
    }

    .t-bar {
        height: 30vh;
        overflow: hidden;

        .bin-label {
            font-size: 6em;
        }

        .bin-location {
            font-size: 1.4em;
            position: absolute;
            right: 2em;
        }

        .t-bar-top {
            border-top-color: #333;
            border-top-width: 1px;
            margin-bottom: 0;
            margin-top: 0;
        }

        .t-bar-bottom {
            border-right: #333 1px solid;
            height: 100%;
            width: 50%;
        }
    }

    .divider {
        height: 3.5vh;
    }

    .quantity-sheet {
        height: 63.5vh;
        page-break-after: always;
        position: relative;

        .bin-header {
            padding-top: 40px;
        }

        .bin-label {
            font-size: 4em;
        }

        .bin-location {
            font-size: 1em;
            position: absolute;
            right: 2em;
            top: 60px;
        }

        th.item-name {
            width: 35%;
        }

        th.quantity {
            width: 15%;
        }
    }
}
