/* This is a temporary placeholder for CSS
before it is moved to the gratefulgarment-ui gem */

hr.dashed {
    border-top: dashed 2px;
}

.order-detail.different-quantity .quantity, .font-bold {
  font-weight: bold;
}

.avoid-page-break {
    page-break-inside: avoid;
}

.return-label {
    margin-top: 130px;

    hr.dashed {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .from-address {
        padding-left: 15px;
    }

    .to-address {
        padding-left: 26px;
    }
}

.table-bordered.table-bordered-darker {
    & > thead, & > tbody, & > tfoot {
        & > tr > th, & > tr > td {
            border-color: #333;
        }
    }
}

@media print {
    .table-bordered.table-bordered-darker {
        & th, & td {
            border-color: #333 !important;
        }
    }
}

body.print-prep {
    @media print {
        #print-options {
            display: none;
        }
    }

    .blank-sheet {
        overflow: hidden;
        height: 100vh;
    }

    .t-bar {
        height: 30vh;
        overflow: hidden;

        .bin-label {
            font-size: 6em;
        }

        .bin-location {
            font-size: 1.4em;
            position: absolute;
            right: 2em;
        }

        .t-bar-top {
            border-top-color: #333;
            border-top-width: 1px;
            margin-bottom: 0;
            margin-top: 0;
        }

        .t-bar-bottom {
            border-right: #333 1px solid;
            height: 100%;
            width: 50%;
        }
    }

    .divider {
        height: 3.5vh;
    }

    .quantity-sheet {
        height: 63.5vh;
        page-break-after: always;
        position: relative;

        .bin-header {
            margin-top: 20px;
        }

        .bin-label {
            font-size: 2.5em;
        }

        .bin-location {
            font-size: 1em;
            position: absolute;
            right: 2em;
            top: 1.25em;
        }

        th.item-name {
            width: 35%;
        }

        th.quantity {
            width: 15%;
        }
    }
}
