.input-row {
  margin-bottom: 10px;
}
.space-right {
  margin-right: 10px;
}
.button-height {
  line-height: 34px;
}

// Spacers
.top5 {
    margin-top:5px;
}
.top10 {
    margin-top:10px;
}
.top15 {
    margin-top:15px;
}
.top20 {
    margin-top:20px;
}
.top30 {
    margin-top:30px;
}
.bottom5 {
    margin-bottom:5px;
}
.bottom10 {
    margin-bottom:10px;
}
.bottom15 {
    margin-bottom:15px;
}
.bottom20 {
    margin-bottom:20px;
}
.bottom30 {
    margin-bottom:30px;
}
