<div class="t-bar">
  <div class="text-center">
    <span class="bin-label"><%= label %></span>
    <span class="bin-location"><%= location %></span>
  </div>
  <hr class="t-bar-top" />
  <div class="t-bar-bottom"></div>
</div>
