<table class="table table-hover table-striped">
  <thead>
    <tr>
      <% if local_assigns[:show_order_number] %>
        <th>Order Number</th>
      <% end %>
      <th>Tracking Number</th>
      <th>Carrier</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% shipments.each do |shipment| %>
      <tr>
        <% if local_assigns[:show_order_number] %>
          <td>
            <%= shipment.order.id %>
          </td>
        <% end %>
        <td>
          <%= link_to "#{shipment.tracking_number}", shipment.tracking_url %>
        </td>
        <td>
          <%= shipment.shipping_carrier %>
        </td>
        <td>
          <%= link_to '', shipment_path(shipment.id), method: :delete, confirm: 'Are you sure?', class: 'btn btn-default btn-xs glyphicon glyphicon-trash' %><br/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

