<table class="table table-striped">
    <thead>
      <tr>
        <th>Shipping Carrier</th>
        <th>Tracking Number</th>
      </tr>
    </thead>
    <tbody>
      <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.shipping_carrier.upcase %></td>
        <td><a href=<%= shipment.tracking_url %>>Track Shipment</a></td>
      </tr>

      <% end %>
    </tbody>
  </table>