<% content_for :title, "Shipments" %>

<% content_for :content do %>
  <div class="row input-row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to "Add Shipment", new_shipment_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <%= render partial: "shipments/shipping_table", locals: { shipments: @shipments, show_order_number: true } %>
<% end %>
