<h1>Create a Shipment</h1>
<%= form_tag(url_for(controller: 'shipments',
        action: 'create'), method: "post", class: 'col-md-6 form-horizontal') do %>

<div class="form-group">


 <label class="control-label" for="shipping_carrier">Select Carrier</label>
<select id="shipping_carrier" name="shipping_carrier" class="btn btn-primary dropdown-toggle">

    <option>UPS</option>
    <option>FedEX</option>
    <option>USPS</option>
  </select>
</div>




  <div >
    <label for="tracking_number">Tracking Number</label>
    <input name="tracking_number" type="text" class="form-control" id="tracking_number" placeholder="">
  </div>

  <div>
    <button type="submit" class="btn btn-default">Create</button>
  </div>
  </div>
<% end %>

