<ul id="category_nav" class="nav nav-pills nav-stacked">
  <% @categories.each do |category| %>
    <%= tab(category.description, items_path(category_id: category.id), @category == category) %>
  <% end %>
</ul>
<div class="top15 bottom15">
  <a href="<%= new_category_path %>" type="button" class="btn btn-primary btn-block">
    Create Category
  </a>
</div>
