<ul id="category_nav" class="nav nav-pills nav-stacked">
  <% @categories.each do |category| %>
    <li class="<%= @category == category ? "active" : "" %>">
      <%= link_to category.description, items_path(category_id: category.id) %>
    </li>
  <% end %>
</ul>
<a href="<%= new_category_path %>" type="button" class="btn btn-primary btn-block">
  Create Category
</a>
