<%

  all_items_selected = @category.blank?

  if params[:controller] == "inventory_reconciliations"
    all_items_selected &&= params[:action] == "show"
  end

%>
<ul id="category_nav" class="nav nav-pills nav-stacked">
  <%= tab("All Items", local_assigns.fetch(:path, items_path), all_items_selected) %>

  <% @categories.each do |category| %>
    <%= tab(category.description, local_assigns.fetch(:path, items_path) + "?category_id=#{category.id}", @category == category) %>
  <% end %>

  <%= tab("Deleted Items", deleted_items_path, @category == "Deleted Items") unless local_assigns[:only_categories] %>
</ul>

<% if current_user.can_view_and_edit_items? && !local_assigns[:only_categories] %>
  <div class="top15">
    <%= link_to "Create Category", new_category_path, class: "btn btn-primary btn-block" %>
  </div>
<% end %>
