<div class="row">
  <% if content_for(:sidebar).present? %>
    <div class="col-md-2 col-sm-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
      <%= content_for(:sidebar) %>
    </div>

    <div class="col-md-10 col-sm-9 no-print-border">
      <div class="well">
        <%= content_for(:content) %>
      </div>

      <% next_content = 2 %>
      <% while content_for(:"content_#{next_content}").present? %>
        <div class="well">
          <%= content_for(:"content_#{next_content}") %>
        </div>
        <% next_content += 1 %>
      <% end %>
    </div>
  <% else %>
    <div class="col-xs-12 no-print-border">
      <div class="well">
        <%= content_for(:content) %>
      </div>
    </div>
  <% end %>
</div>
