<%# If changed update _reject_modal.html.erb and order_denied.text.erb %>
<p>
  If you have any questions or concerns, please contact us at (408) 674-5744 or email <a href="mailto:lisa@gratefulgarment.org">lisa@gratefulgarment.org</a>.
</p>

<p>
  Gratefully yours,<br />
  The Grateful Garment Project’s Management and Board of Directors
</p>
