<%# If changed update _reject_modal.html.erb and order_denied.text.erb %>
<p>
  <img src="http://gratefulgarment.org/wp-content/themes/FoundationPress-master/assets/img/header-logo.png">
</p>

<p>
  <%= Time.zone.now.strftime("%m/%d/%Y") %>
</p>
