<div id="error_explanation">
  <h2><%= pluralize(record.errors.count, "error") %> prohibited this <%= record.class.name.downcase %> from being saved:</h2>

  <ul>
    <% record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
