<div class="row">
  <div id="password-requirements" class="form-group help-block col-sm-6 col-sm-push-6">
    Password must contain:<br/>
    At least one uppercase letter<br/>
    At least one lowercase letter<br/>
    At least one number<br/>
    Be between 8 and 72 characters<br/>
  </div>

  <div class="col-sm-6 col-sm-pull-6">
    <div class="form-group">
      <label class="control-label" for="user-password">Password</label>
      <div>
        <input id="user-password" name="password" type="password" class="form-control input-md" <%= %(placeholder="Leave blank to not change").html_safe unless required %> data-guard="<%= "required" if required %> same passwordComplexity" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="user-password-confirmation">Password Confirmation</label>
      <div>
        <input id="user-password-confirmation" name="password_confirmation" type="password" class="form-control input-md" <%= %(placeholder="Leave blank to not change").html_safe unless required %> data-guard="<%= "required" if required %> same passwordComplexity" />
      </div>
    </div>
  </div>
</div>
