<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li role="presentation" class="<%= "active" if active == "orders" %>"><a href="/orders">Orders</a></li>
  <li role="presentation" class="<%= "active" if active == "inventory" %>"><a href="/inventory">Inventory</a></li>

  <% if current_user.can_create_organization? || current_user.organizations_with_admin_access.present? %>
    <li role="presentation" class="<%= "active" if active == "organizations" %>"><a href="/organizations">Organizations</a></li>
  <% end %>

  <li role="presentation" class="<%= "active" if active == "users" %>"><a href="/users">Users</a></li>
</ul>
