<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active == 'orders' ? 'active' : '' %>"><a href="/orders">Orders</a></li>
  <li role="presentation" class="<%= active == 'inventory' ? 'active' : '' %>"><a href="/inventory">Inventory</a></li>
  <li role="presentation" class="<%= active == 'organizations' ? 'active' : '' %>"><a href="/organizations">Organizations</a></li>
  <li role="presentation" class="<%= active == 'users' ? 'active' : '' %>"><a href="/users">Users</a></li>
</ul>
