<div class="row">
  <div class="col-xs-12">
    <%= form_tag "", method: :get, class: "form-inline pull-right" do %>
      <% if local_assigns[:additional_params] %>
        <% additional_params.each do |k, v| %>
          <%= hidden_field_tag k, v %>
        <% end %>
      <% end %>

      <%= render partial: "report_date_filters" %>
      <input type="submit" value="Filter" class="btn btn-default" />
    <% end %>
  </div>
</div>

<br />
