<div class="form-group form-group-sm">
  <label for="report-start-date" class="control-label">Start Date</label>
  <input type="text" id="report-start-date" name="report_start_date" value="<%= session[:report_start_date] %>" class="form-control" data-provide="datepicker" autocomplete="off" />
</div>

<div class="form-group form-group-sm">
  <label for="report-end-date" class="control-label">End Date</label>
  <input type="text" id="report-end-date" name="report_end_date" value="<%= session[:report_end_date] %>" class="form-control" data-provide="datepicker" autocomplete="off" />
</div>
