<table class="table table-striped table-responsive data-table">
  <thead>
    <tr>
      <th class="text-center">Description</th>
      <th class="text-center monetary-value">Value</th>
    </tr>
  </thead>

  <tbody>
    <% report.each do |description, value| %>
      <tr>
        <td class="text-center"><%= description %></td>
        <td class="text-center"><%= number_to_currency value, precision: 2 %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th class="text-center"></th>
      <th class="text-center"><%= number_to_currency report.total_value, precision: 2 %></th>
    </tr>
  </tfoot>
</table>
