<% content_for :sidebar do %>
  <ul id="category_nav" class="nav nav-pills nav-stacked">
    <%= tab("All Categories", reports_path(report: :total_inventory_value), @category == nil) %>
    <% @categories.all.each do |category| %>
      <%= tab(category.description, reports_path(report: :total_inventory_value, category_id: category.id), @category == category) %>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="tab-content">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-xs-4">Description</th>
          <th class="text-center">value</th>
        </tr>
      </thead>

      <tbody>
        <% if @category.present? %>
          <%= render partial: "category_value", locals: { category: @category } %>
        <% else %>
          <% @categories.each do |category| %>
            <%= render partial: "category_value", locals: { category: category } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
