<% content_for :title, "Total Inventory Value Report" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <%= tab("All Categories", total_inventory_value_reports_path, params[:category_id].blank?) %>
    <% Category.all.each do |category| %>
      <%= tab(category.description, total_inventory_value_reports_path(category_id: category.id, date: params[:date]), params[:category_id].present? && category.id == params[:category_id].to_i) %>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="hidden-print">
    <div class="tab-content">
      <%= render partial: "total_inventory_value_filters" %>
      <%= render partial: "reports/total_inventory_value_table", locals: { report: @report } %>
    </div>
  </div>
<% end %>
